###intellij###
target/
out/
.idea/
###!.mvn/wrapper/maven-wrapper.jar
###!**/src/main/**/target/
###!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Custom ###
/src/main/resources/mysql-db.properties
/.idea/

### Secrets ###
### Database credentials ###
### Ignore database configuration file ###
mysql-db.properties
/spring/.mvn/
*.log
.mvn/
application.properties
application-api.properties
HELP.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!src/main/resources/mysql-db.properties
/OnTheGoRentals.drawio
/src/main/resources/mysql-db.properties
/src/main/resources/application-prod.properties
/dev/
